# Decision Tree


For this problem, you will be implementing a Decision Tree classifier that works on discrete (categorical) features. Although a relatively simple learning algorithm, the Decision Tree is often used as a fundamental building block for more powerful (and popular) models such as Random Forest and Gradient Boosted ensembles. 

You should base your solution on the [ID3](https://en.wikipedia.org/wiki/ID3_algorithmhttps://en.wikipedia.org/wiki/ID3_algorithm) algorithm. This is a basic tree-learning algorithm that greedly grows a tree based on _information gain_ (reduction in entropy). Please refer to Chapter 3 of _Machine Learning_ by Tom M. Mitchell for more details. 


We have provided some skeleton code for the classifier, along with a couple of utility functions in the [decision_tree.py](./decision_tree.py) module. Please fill out the functions marked with `TODO` and feel free to add extra constructor arguments as you see fit (just make sure the default constructor solves the first dataset).

In [351]:
%load_ext autoreload

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

We begin by loading necessary packages. Below follows a short description of the imported modules:

- `numpy` is the defacto python package for numerical calculation. Most other numerical libraries (including pandas) is based on numpy.
- `pandas` is a widely used package for manipulating (mostly) tabular data
- `decision_tree` refers to the module in this folder that should be further implemented by you

Note: The `%autoreload` statement is an [IPython magic command](https://ipython.readthedocs.io/en/stable/interactive/magics.html) that automatically reloads the newest version of all imported modules within the cell. This means that you can edit the `decision_tree.py` file and just rerun this cell to get the updated version.

In [352]:
%autoreload

import numpy as np 
import pandas as pd
import decision_tree as dt  # <-- Your implementation

## [1] First Dataset

The first dataset is a toy problem lifted from Table 3.2 in the Machine Learning textbook. The objective is to predict whether a given day is suitable for playing tennis based on several weather conditions. 

### [1.1] Load Data

We begin by loading data from the .csv file located in the same folder as this notebook.

In [353]:
data_1 = pd.read_csv('data_1.csv')
data_1

     Outlook Temperature Humidity    Wind Play Tennis
0      Sunny         Hot     High    Weak          No
1      Sunny         Hot     High  Strong          No
2   Overcast         Hot     High    Weak         Yes
3       Rain        Mild     High    Weak         Yes
4       Rain        Cool   Normal    Weak         Yes
5       Rain        Cool   Normal  Strong          No
6   Overcast        Cool   Normal  Strong         Yes
7      Sunny        Mild     High    Weak          No
8      Sunny        Cool   Normal    Weak         Yes
9       Rain        Mild   Normal    Weak         Yes
10     Sunny        Mild   Normal  Strong         Yes
11  Overcast        Mild     High  Strong         Yes
12  Overcast         Hot   Normal    Weak         Yes
13      Rain        Mild     High  Strong          No

### [1.2] Fit and Evaluate Model

Next we fit and evaluate a Decision Tree over the dataset. We first partition the data into the dependent (`y` = Play Tennis) and independent (`X` = everything else) variables. We then initialize a Decision Tree learner and fit it to all the data. Finally, we evaluate the model over the same data by calculating its accuracy, i.e. the fraction of correctly classified samples.

Note that `.fit` and `.predict` will crash until you implement these two methods in [decision_tree.py](./decision_tree.py).

Assuming that you've correctly implemented the ID3 algorithm as described in the course textbook, you should expect the model to perfectly fit the training data. That is, you should get a classification accuracy of 100%.

In [354]:

X = data_1.drop(columns=['Play Tennis'])
y = data_1['Play Tennis']

# Create and fit a Decrision Tree classifier
model_1 = dt.DecisionTree()  # <-- Should work with default constructor
model_1.fit(X, y)

data_1 = pd.read_csv('data_1.csv')
X = data_1.drop(columns=['Play Tennis'])
y = data_1['Play Tennis']

print(model_1.predict(X))

# Verify that it perfectly fits the training set
print(f'Accuracy: {dt.accuracy(y_true=y, y_pred=model_1.predict(X)) * 100 :.1f}%')

['No' 'Yes']
These are the tests that remain ['Outlook' 'Temperature' 'Humidity' 'Wind']
True
False
False
False
False
False
True
False
False
False
['Temperature' 'Humidity' 'Wind']
     Outlook Temperature Humidity    Wind
0      Sunny         Hot     High    Weak
1      Sunny         Hot     High  Strong
2   Overcast         Hot     High    Weak
3       Rain        Mild     High    Weak
4       Rain        Cool   Normal    Weak
5       Rain        Cool   Normal  Strong
6   Overcast        Cool   Normal  Strong
7      Sunny        Mild     High    Weak
8      Sunny        Cool   Normal    Weak
9       Rain        Mild   Normal    Weak
10     Sunny        Mild   Normal  Strong
11  Overcast        Mild     High  Strong
12  Overcast         Hot   Normal    Weak
13      Rain        Mild     High  Strong
My length is  2
[([('Outlook', 'Overcast')], 'Yes')]
These are the tests that remain ['Temperature' 'Humidity' 'Wind']
False
False
False
False
False
True
['Temperature' 'Humidity']
   Outlook Temperature Humidity    Wind
3     Rain        Mild     High    Weak
4     Rain        Cool   Normal    Weak
5     Rain        Cool   Normal  Strong
9     Rain        Mild   Normal    Weak
13    Rain        Mild     High  Strong
   Outlook Temperature Humidity    Wind
5     Rain        Cool   Normal  Strong
13    Rain        Mild     High  Strong
My length is  1
[([('Outlook', 'Overcast')], 'Yes'), ([('Outlook', 'Rain'), ('Wind', 'Weak')], 'Yes'), ([('Outlook', 'Rain'), ('Wind', 'Strong')], 'No')]
These are the tests that remain ['Temperature' 'Humidity']
True
False
False
True
False
['Temperature']
   Outlook Temperature Humidity    Wind
0    Sunny         Hot     High    Weak
1    Sunny         Hot     High  Strong
7    Sunny        Mild     High    Weak
8    Sunny        Cool   Normal    Weak
10   Sunny        Mild   Normal  Strong
   Outlook Temperature Humidity    Wind
8    Sunny        Cool   Normal    Weak
10   Sunny        Mild   Normal  Strong
My length is  0
[([('Outlook', 'Overcast')], 'Yes'), ([('Outlook', 'Rain'), ('Wind', 'Weak')], 'Yes'), ([('Outlook', 'Rain'), ('Wind', 'Strong')], 'No'), ([('Outlook', 'Sunny'), ('Humidity', 'High')], 'No'), ([('Outlook', 'Sunny'), ('Humidity', 'Normal')], 'Yes')]
['(`Outlook`=="Overcast")']
My query is (`Outlook`=="Overcast")
14
14
2
6
11
12
['(`Outlook`=="Rain")', '(`Wind`=="Weak")']
My query is (`Outlook`=="Rain") and (`Wind`=="Weak")
14
14
3
4
9
['(`Outlook`=="Rain")', '(`Wind`=="Strong")']
My query is (`Outlook`=="Rain") and (`Wind`=="Strong")
14
14
5
13
['(`Outlook`=="Sunny")', '(`Humidity`=="High")']
My query is (`Outlook`=="Sunny") and (`Humidity`=="High")
14
14
0
1
7
['(`Outlook`=="Sunny")', '(`Humidity`=="Normal")']
My query is (`Outlook`=="Sunny") and (`Humidity`=="Normal")
14
14
8
10
['No' 'No' 'Yes' 'Yes' 'Yes' 'No' 'Yes' 'No' 'Yes' 'Yes' 'Yes' 'Yes' 'Yes'
 'No']
['(`Outlook`=="Overcast")']
My query is (`Outlook`=="Overcast")
14
14
2
6
11
12
['(`Outlook`=="Rain")', '(`Wind`=="Weak")']
My query is (`Outlook`=="Rain") and (`Wind`=="Weak")
14
14
3
4
9
['(`Outlook`=="Rain")', '(`Wind`=="Strong")']
My query is (`Outlook`=="Rain") and (`Wind`=="Strong")
14
14
5
13
['(`Outlook`=="Sunny")', '(`Humidity`=="High")']
My query is (`Outlook`=="Sunny") and (`Humidity`=="High")
14
14
0
1
7
['(`Outlook`=="Sunny")', '(`Humidity`=="Normal")']
My query is (`Outlook`=="Sunny") and (`Humidity`=="Normal")
14
14
8
10
0      No
1      No
2     Yes
3     Yes
4     Yes
5      No
6     Yes
7      No
8     Yes
9     Yes
10    Yes
11    Yes
12    Yes
13     No
Name: Play Tennis, dtype: object
Accuracy: 100.0%

### [1.3] Inspect Classification Rules

A big advantage of Decision Trees is that they are relatively transparent learners. By this we mean that it is easy for an outside observer to analyse and understand how the model makes its decisions. The problem of being able to reason about how a machine learning model reasons is known as _Explainable AI_ and is often a desirable property of machine learning systems.

Every time a Decision Tree is evaluated, the datapoint is compared against a set of nodes starting at the root of the tree and (typically) ending at one of the leaf nodes. An equivalent way to view this reasoning is as an implication rule ($A \rightarrow B$) where the antecedent ($A$) is a conjunction of of attribute values and the consequent ($B$) is the predicted label. For instance, if a path down the tree first checks if Outlook=Rain, then checks if Wind=Strong, and then predicts Play Tennis=No, this line of reasoning can be represented as:

- If $Outlook=Rain \cap Wind=Strong \rightarrow$ then predict $Play Tennis = No$

We will leverage this property to export the decision tree you just created as a set of rules. For the subsequent cell to work, you must also have implemented the `.get_rules()` method in the provided boilerplate code.

In [355]:
for rules, label in model_1.get_rules():
    conjunction = ' ∩ '.join(f'{attr}={value}' for attr, value in rules)
    print(f'{"✅" if label == "Yes" else "❌"} {conjunction} => {label}')

✅ Outlook=Overcast => Yes
✅ Outlook=Rain ∩ Wind=Weak => Yes
❌ Outlook=Rain ∩ Wind=Strong => No
❌ Outlook=Sunny ∩ Humidity=High => No
✅ Outlook=Sunny ∩ Humidity=Normal => Yes

## [2] Second Dataset

The second dataset involves predicting whether an investment opportunity will result in a successful `Outcome` or not. To make this prediction, you are given a dataset of 200 historical$^1$ business ventures and their outcome, along with the following observed features:

- Whether the business oportunity is in a lucurative market or not 
- Whether the presented business idea has a competitive advantage
- Whether the second opinion from another investor is positive or not 
- The founder's previous experience with startups
- The founder's Birth Month.

---
[1] Disclaimer: The dataset is not based on real-world business ventures. It is synthetic and generated by us. Also, it should not be considered financial advice.

### [2.1] Load Data

This dataset can also be found in a .csv file in the same folder as this notebook.

In [356]:
data_2 = pd.read_csv('data_2.csv')
data_2

,Birth Month,Founder Experience,Second Opinion,Competitive Advantage,Lucurative Market,Outcome,Split
0,Jun,moderate,negative,yes,no,success,train
1,Jun,high,positive,yes,no,failure,train
2,Oct,low,negative,no,no,failure,train
3,Jun,low,negative,no,no,failure,train
4,Jan,low,positive,yes,yes,success,train
...,...,...,...,...,...,...,...
195,Dec,moderate,positive,no,yes,failure,test
196,Jan,low,negative,no,no,failure,test
197,Jun,moderate,negative,no,no,failure,test
198,Aug,moderate,negative,no,no,failure,test
199,Dec,moderate,negative,yes,no,success,test

### [2.2] Split Data

We've also taken the liberty to pre-split the dataset into three different sets:

- `train` contains 50 samples that you should use to generate the tree
- `valid` contains 50 samples that you can use to evaluate different preprocessing methods and variations to the tree-learning algorithm.
- `test` contains 100 samples and should only be used to evaluate the final model once you're done experimenting.

In [357]:
data_2_train = data_2.query('Split == "train"')
data_2_valid = data_2.query('Split == "valid"')
data_2_test = data_2.query('Split == "test"')
X_train, y_train = data_2_train.drop(columns=['Outcome', 'Split']), data_2_train.Outcome
X_valid, y_valid = data_2_valid.drop(columns=['Outcome', 'Split']), data_2_valid.Outcome
X_test, y_test = data_2_test.drop(columns=['Outcome', 'Split']), data_2_test.Outcome
data_2.Split.value_counts()

Split
test     100
train     50
valid     50
Name: count, dtype: int64

### [2.3] Fit and Evaluate Model

You may notice that the basic ID3 algorithm you developed for the first dataset does not generalize well when applied straight to this problem. Feel free to add extra functionality to it and/or the data preprocessing pipeline that might improve performance on the validation (and ultimately test set). As a debugging reference; it is highly possible to obtain accuracies over the validation and test set ranging from mid ~80% to low ~90%.

In [358]:
# Fit model (TO TRAIN SET ONLY)
model_2 = dt.DecisionTree()  # <-- Feel free to add hyperparameters 
model_2.fit(X_train, y_train)

print(f'Train: {dt.accuracy(y_train, model_2.predict(X_train)) * 100 :.1f}%')
print(f'Valid: {dt.accuracy(y_valid, model_2.predict(X_valid)) * 100 :.1f}%')

['success' 'failure']
These are the tests that remain ['Birth Month' 'Founder Experience' 'Second Opinion'
 'Competitive Advantage' 'Lucurative Market']
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
False
['Founder Experience' 'Second Opinion' 'Competitive Advantage'
 'Lucurative Market']
   Birth Month Founder Experience Second Opinion Competitive Advantage  \
0          Jun           moderate       negative                   yes
1          Jun               high       positive                   yes
2          Oct                low       negative                    no
3          Jun                low       negative                    no
4          Jan                low       positive                   yes
5          Jan           moderate       positive                    no
6          Oct               high       negative                    no
7          Aug           moderate       negative                    no
8          Jun               high       positive                   yes
9          Apr           moderate       negative                    no
10         Nov           moderate       negative                    no
11         Apr               high       negative                    no
12         May                low       negative                    no
13         Aug           moderate       negative                    no
14         Jan               high       negative                    no
15         May           moderate       negative                   yes
16         Mar           moderate       negative                    no
17         Jun               high       negative                    no
18         Apr           moderate       negative                    no
19         Jul                low       negative                    no
20         Mar                low       positive                    no
21         Feb           moderate       negative                    no
22         Jun                low       negative                    no
23         Oct           moderate       positive                    no
24         Oct               high       negative                    no
25         Mar               high       negative                   yes
26         Mar           moderate       negative                   yes
27         Dec               high       positive                   yes
28         Jan           moderate       positive                    no
29         Sep           moderate       negative                   yes
30         Jun                low       negative                   yes
31         Nov           moderate       negative                    no
32         Feb                low       negative                    no
33         Sep                low       negative                   yes
34         Oct           moderate       negative                    no
35         Jun                low       negative                   yes
36         Feb               high       negative                    no
37         May           moderate       positive                    no
38         Jun           moderate       positive                    no
39         Feb           moderate       negative                    no
40         Feb               high       negative                    no
41         Nov           moderate       negative                   yes
42         Aug               high       negative                   yes
43         Oct               high       positive                    no
44         Apr           moderate       positive                    no
45         Feb               high       negative                   yes
46         Apr           moderate       negative                    no
47         Jun           moderate       positive                    no
48         Apr           moderate       negative                   yes
49         Mar           moderate       negative                    no

   Lucurative Market
0                 no
1                 no
2                 no
3                 no
4                yes
5                 no
6                 no
7                yes
8                 no
9                yes
10                no
11               yes
12                no
13               yes
14               yes
15                no
16                no
17               yes
18                no
19                no
20                no
21                no
22                no
23                no
24                no
25                no
26                no
27                no
28               yes
29                no
30                no
31                no
32                no
33                no
34                no
35                no
36                no
37                no
38                no
39               yes
40                no
41                no
42                no
43                no
44                no
45               yes
46               yes
47                no
48               yes
49                no
   Birth Month Founder Experience Second Opinion Competitive Advantage  \
0          Jun           moderate       negative                   yes
1          Jun               high       positive                   yes
3          Jun                low       negative                    no
4          Jan                low       positive                   yes
5          Jan           moderate       positive                    no
7          Aug           moderate       negative                    no
8          Jun               high       positive                   yes
9          Apr           moderate       negative                    no
10         Nov           moderate       negative                    no
11         Apr               high       negative                    no
12         May                low       negative                    no
13         Aug           moderate       negative                    no
14         Jan               high       negative                    no
15         May           moderate       negative                   yes
16         Mar           moderate       negative                    no
17         Jun               high       negative                    no
18         Apr           moderate       negative                    no
19         Jul                low       negative                    no
20         Mar                low       positive                    no
21         Feb           moderate       negative                    no
22         Jun                low       negative                    no
25         Mar               high       negative                   yes
26         Mar           moderate       negative                   yes
27         Dec               high       positive                   yes
28         Jan           moderate       positive                    no
29         Sep           moderate       negative                   yes
30         Jun                low       negative                   yes
31         Nov           moderate       negative                    no
32         Feb                low       negative                    no
33         Sep                low       negative                   yes
35         Jun                low       negative                   yes
36         Feb               high       negative                    no
37         May           moderate       positive                    no
38         Jun           moderate       positive                    no
39         Feb           moderate       negative                    no
40         Feb               high       negative                    no
41         Nov           moderate       negative                   yes
42         Aug               high       negative                   yes
44         Apr           moderate       positive                    no
45         Feb               high       negative                   yes
46         Apr           moderate       negative                    no
47         Jun           moderate       positive                    no
48         Apr           moderate       negative                   yes
49         Mar           moderate       negative                    no

   Lucurative Market
0                 no
1                 no
3                 no
4                yes
5                 no
7                yes
8                 no
9                yes
10                no
11               yes
12                no
13               yes
14               yes
15                no
16                no
17               yes
18                no
19                no
20                no
21                no
22                no
25                no
26                no
27                no
28               yes
29                no
30                no
31                no
32                no
33                no
35                no
36                no
37                no
38                no
39               yes
40                no
41                no
42                no
44                no
45               yes
46               yes
47                no
48               yes
49                no
   Birth Month Founder Experience Second Opinion Competitive Advantage  \
0          Jun           moderate       negative                   yes
1          Jun               high       positive                   yes
3          Jun                low       negative                    no
4          Jan                low       positive                   yes
5          Jan           moderate       positive                    no
8          Jun               high       positive                   yes
9          Apr           moderate       negative                    no
10         Nov           moderate       negative                    no
11         Apr               high       negative                    no
12         May                low       negative                    no
14         Jan               high       negative                    no
15         May           moderate       negative                   yes
16         Mar           moderate       negative                    no
17         Jun               high       negative                    no
18         Apr           moderate       negative                    no
19         Jul                low       negative                    no
20         Mar                low       positive                    no
21         Feb           moderate       negative                    no
22         Jun                low       negative                    no
25         Mar               high       negative                   yes
26         Mar           moderate       negative                   yes
27         Dec               high       positive                   yes
28         Jan           moderate       positive                    no
29         Sep           moderate       negative                   yes
30         Jun                low       negative                   yes
31         Nov           moderate       negative                    no
32         Feb                low       negative                    no
33         Sep                low       negative                   yes
35         Jun                low       negative                   yes
36         Feb               high       negative                    no
37         May           moderate       positive                    no
38         Jun           moderate       positive                    no
39         Feb           moderate       negative                    no
40         Feb               high       negative                    no
41         Nov           moderate       negative                   yes
44         Apr           moderate       positive                    no
45         Feb               high       negative                   yes
46         Apr           moderate       negative                    no
47         Jun           moderate       positive                    no
48         Apr           moderate       negative                   yes
49         Mar           moderate       negative                    no

   Lucurative Market
0                 no
1                 no
3                 no
4                yes
5                 no
8                 no
9                yes
10                no
11               yes
12                no
14               yes
15                no
16                no
17               yes
18                no
19                no
20                no
21                no
22                no
25                no
26                no
27                no
28               yes
29                no
30                no
31                no
32                no
33                no
35                no
36                no
37                no
38                no
39               yes
40                no
41                no
44                no
45               yes
46               yes
47                no
48               yes
49                no
   Birth Month Founder Experience Second Opinion Competitive Advantage  \
0          Jun           moderate       negative                   yes
1          Jun               high       positive                   yes
3          Jun                low       negative                    no
4          Jan                low       positive                   yes
5          Jan           moderate       positive                    no
8          Jun               high       positive                   yes
9          Apr           moderate       negative                    no
11         Apr               high       negative                    no
12         May                low       negative                    no
14         Jan               high       negative                    no
15         May           moderate       negative                   yes
16         Mar           moderate       negative                    no
17         Jun               high       negative                    no
18         Apr           moderate       negative                    no
19         Jul                low       negative                    no
20         Mar                low       positive                    no
21         Feb           moderate       negative                    no
22         Jun                low       negative                    no
25         Mar               high       negative                   yes
26         Mar           moderate       negative                   yes
27         Dec               high       positive                   yes
28         Jan           moderate       positive                    no
29         Sep           moderate       negative                   yes
30         Jun                low       negative                   yes
32         Feb                low       negative                    no
33         Sep                low       negative                   yes
35         Jun                low       negative                   yes
36         Feb               high       negative                    no
37         May           moderate       positive                    no
38         Jun           moderate       positive                    no
39         Feb           moderate       negative                    no
40         Feb               high       negative                    no
44         Apr           moderate       positive                    no
45         Feb               high       negative                   yes
46         Apr           moderate       negative                    no
47         Jun           moderate       positive                    no
48         Apr           moderate       negative                   yes
49         Mar           moderate       negative                    no

   Lucurative Market
0                 no
1                 no
3                 no
4                yes
5                 no
8                 no
9                yes
11               yes
12                no
14               yes
15                no
16                no
17               yes
18                no
19                no
20                no
21                no
22                no
25                no
26                no
27                no
28               yes
29                no
30                no
32                no
33                no
35                no
36                no
37                no
38                no
39               yes
40                no
44                no
45               yes
46               yes
47                no
48               yes
49                no
   Birth Month Founder Experience Second Opinion Competitive Advantage  \
0          Jun           moderate       negative                   yes
1          Jun               high       positive                   yes
3          Jun                low       negative                    no
4          Jan                low       positive                   yes
5          Jan           moderate       positive                    no
8          Jun               high       positive                   yes
9          Apr           moderate       negative                    no
11         Apr               high       negative                    no
12         May                low       negative                    no
14         Jan               high       negative                    no
15         May           moderate       negative                   yes
16         Mar           moderate       negative                    no
17         Jun               high       negative                    no
18         Apr           moderate       negative                    no
20         Mar                low       positive                    no
21         Feb           moderate       negative                    no
22         Jun                low       negative                    no
25         Mar               high       negative                   yes
26         Mar           moderate       negative                   yes
27         Dec               high       positive                   yes
28         Jan           moderate       positive                    no
29         Sep           moderate       negative                   yes
30         Jun                low       negative                   yes
32         Feb                low       negative                    no
33         Sep                low       negative                   yes
35         Jun                low       negative                   yes
36         Feb               high       negative                    no
37         May           moderate       positive                    no
38         Jun           moderate       positive                    no
39         Feb           moderate       negative                    no
40         Feb               high       negative                    no
44         Apr           moderate       positive                    no
45         Feb               high       negative                   yes
46         Apr           moderate       negative                    no
47         Jun           moderate       positive                    no
48         Apr           moderate       negative                   yes
49         Mar           moderate       negative                    no

   Lucurative Market
0                 no
1                 no
3                 no
4                yes
5                 no
8                 no
9                yes
11               yes
12                no
14               yes
15                no
16                no
17               yes
18                no
20                no
21                no
22                no
25                no
26                no
27                no
28               yes
29                no
30                no
32                no
33                no
35                no
36                no
37                no
38                no

## [3] Further steps (optional)

If you're done with the assignment but want to some more challenges; consider the following:

- Make a Decision Tree learner that can handle numerical attributes
- Make a Decision Tree learner that can handle numerical targets (regresion tree)
- Try implementing [Random Forest](https://en.wikipedia.org/wiki/Random_forest) on top of your Decision Tree algorithm

If you need more data for experimenting, UC Irvine hosts a [large repository](https://archive.ics.uci.edu/ml/datasets.php) of machine learning datasets.